.div1{
  text-align: center;
  margin-right: auto;
}

h1{
text-align: center;
}
footer{
  margin: auto;
  text-align: center;
  margin-top: 150px;
}
.img-responsive {
    margin: 0 auto;
}
